%mnorm{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
%msemibold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

%mbold{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


%rbold{
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}