@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 700px;
    
    &__link{
        color: #fff;
        font-size: 24px;
        line-height: 36px;
        @extend %mbold; 
    }
    &__button{
        border: none;
        border-bottom: 2px solid #fff;
        border-top: 2px solid #fff;
        background-color: transparent;
        width: 40px;
        height: 40px;
        position: relative;
        z-index: 5;
        display: none;
        &::after{
            position: absolute;
            content: "";
            width: 40px;
            height: 2px;
            background-color: #fff;
            left: 0;
        }
    }
    &__info{
        text-align: center;
    }
    &__title{
        font-size: 48px;
        line-height: 45px;
        margin-bottom: 20px;
        text-transform: uppercase;
        @extend %msemibold; 
    }
    &__text{
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 24px;
        
    }
    &__btn{
        color: #fff;
        text-transform: uppercase;
        
    }
}

.menu{
    
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %msemibold;
    margin-bottom: 250px;
    &__list{
        display: flex;
        
    }
    &__lists + .menu__lists{
        padding-left: 30px;
    }
    &__link{
        color: #fff;
    }
}


.service{
        margin-top: 100px;
    &__text{
        text-align: center;
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box{
        text-align: center;
        max-width: 350px;
        padding: 0 10px;
        margin: 0 auto;
    }
    &__box-img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
    }
    &__box-title{
        text-transform: uppercase;
        @extend %msemibold;
        margin-bottom: 20px;
    }
    &__box-text{
        margin-bottom: 100px;
    }
}

.about{
    padding: 100px 0;
    background-color: #f8f8f8;
    &__text{
        text-align: center;
        margin-bottom: 65px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box{
        margin-bottom: 60px;
        max-width: 555px;
    }
    &__slider-inner{
        text-align: center;
        width: 260px;
    }
    &__slider-box{
        position: relative;
        margin: 0 15px;
        height: 250px;
    }
    &__slider-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__slider-icons{
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        background-color: rgba(85, 85, 85, 0.502);
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
    &__slider-icon{
        padding: 5px 10px;
        &:hover{
            background-color: red;
        }
    }
    &__slider-title{
        margin: 20px 0 10px 0;
        text-transform: uppercase;
        @extend %msemibold;
    }
    .about__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        background-color: transparent;
        border: none;
        outline: none;;
        z-index: 1;
        padding: 12px;
        background-color: #8e8e8e;
    }
    .about__arrow-next{
        right: 0;
    }
}

.works{
    &__buttons{
        text-align: center;
        margin-bottom: 70px;
    }
    
    &__btn{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
    }
    .mixitup-control-active{
        color: #c0301c;
    }
    &__btn + .works__btn{
        padding-left: 20px;
    }
    margin: 100px 0;

    &__item{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 30px 20px ;
    }
    &__box{
        color: #fff;
        position: relative;
        height: 320px;
    }
    &__box-img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__box-info{
        color: #fff;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(192, 48, 28,0.702);
        opacity: 0;
        transition: all .2s;
        &:hover{
            opacity: 1;
        }
    }
    &__box-title{
        font-size: 18px;
        line-height: 24px;
        @extend %msemibold;
        margin-bottom: 5px;
    }
    &__box-text{
        margin-bottom: 20px;
    }
    &__box-btn{
        padding: 15px 40px 13px 20px;
        background-color: #fff;
        border: none;
        color: #c0301c;
        @extend %rbold;
        text-transform: uppercase;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background-image: url(../images/works-arrow.svg);
            width: 6px;
            height: 10px;
            right: 25px;
            top: 17px;
        }
    }
}

.project{
    text-align: center;
    background-size: cover;
    background-position:center;
    padding: 100px 0;
    margin-bottom: 100px;
    &__title{
        max-width: 470px;
        margin: 0 auto;
        margin-bottom: 45px;
        color: #fff;
        font-size: 30px;
        line-height: 44px;
    }
    &__btn{
        font-size: 18px;
        line-height: 20px;
    }
}

.blog{
    &__text{
        text-align: center;
        margin-bottom: 65px;
    }
    &__boxup{
        display: flex;
        padding-bottom: 35px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }
    &__info-img{
        object-fit: cover;
        object-position: center;
        width: 420px;
        height: 320px;
        object-fit: cover;
        object-position: center;
    }
    &__info{
        margin-left: auto;
        max-width: 640px;
    }
    &__info-box{
        padding-left: 100px;
        position: relative;
        margin-bottom: 40px;
        &::before{
            position: absolute;
            content: '';
            background-image: url(../images/blog-info.jpg);
            width: 76px;
            height: 76px;
            left: 0;
        }
    }
    &__info-title{
        text-transform: uppercase;
        @extend %msemibold;
        margin-bottom: 5px;
        color: #c0301c;
    }
    &__info-text{
        span{
            color: #c0301c;
        }
    }
    &__info-subtext{
         margin-bottom: 35px; 
    }
    &__info-link{
        text-transform: uppercase;
        @extend %rbold;
        color: #555;
        transition: all .2s;
        &:hover{
            color: #c0301c;
        }
    }
    &__boxsub{
        display: flex;
        margin-bottom: 100px;
    }
    &__infosub{
        margin-left: auto;
        max-width: 640px;
    }
    &__infosub-title{
        text-transform: uppercase;
        font-size: 16px;
        line-height: 20px;
    }
}


.company{
    text-align: center;
    padding: 100px 0;
    background-color: #f8f8f8;
    margin-bottom: 100px;
    &__inner{
        max-width: 900px;
        margin: 0 auto;
    }
    &__list{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
    }
    &__info{
        max-width: 790px;
        margin: 0 auto;
    }
    &__text{
        font-size: 18px;
        line-height: 35px;
        margin-bottom: 30px;
    }
    &__title{
        font-size: 20px;
        line-height: 30px;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .slick-dots li{
        display: inline-flex;
        padding: 0 10px;
    }
    .slick-dots button{
        background-color: #ddd;
        border-radius: 50%;
        font-size: 0;
        width: 13px;
        height: 13px;
        border: none;
        outline: none;
    }
    .slick-active button{
        background-color: #c0301c;
    }
}

.contacts{
    margin-bottom: 100px;
    a{
        color: #555;
    }
    &__inner{
        display: flex;
    }
    &__box{
        max-width: 240px;
    }
    &__text{
        text-align: center;
        margin-bottom: 60px;
    }
    &__lists{
        padding-left: 25px;
        position: relative;
        margin-bottom: 30px;
        &::before{
            content: '';
            position: absolute;
            background-image: url(../images/contact-1.svg);
            width: 12px;
            height: 17px;
            left: 0;
            top: 2px;
            background-repeat: no-repeat;
        }
    }
    &__lists-title{
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    &__lists-phone::before{
        background-image: url(../images/contact-2.svg);
        width: 12px;
        height: 20px;
    }
        
    &__lists-email::before{
        background-image: url(../images/contact-3.svg);
        width: 15px;
        height: 11px;
    }
    &__inputs{
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 40px 40px;
        grid-gap: 30px 20px;
        max-width: 730px;
        margin-left: auto;
    }
    &__input{
        padding: 15px;
        text-transform: uppercase;
    }
    &__area{
        grid-column: 1/3;
        padding: 15px;
    }
    &__btn{
        display: flex;
        align-items: center;
        width: 700px;
        height: 40px;
    }
    &__btn-link{
        width: 180px;
        border: 1px solid #555;
        padding: 15px 0;
        text-align: center;
        text-transform: uppercase;
    }
    &__btn-text{
        padding-left: 50px;
        position: relative;
        &::before{
            content: '*';
            position: absolute;
            color: #c0301c;
            left: 35px;
            top: 2px;
        }
    }
}


.footer{
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-color: #1e3b54;
    &__list{
        display: flex;
        justify-content: center;
        position: relative;
        padding-bottom: 30px;
        margin-bottom: 30px;
        &::after{
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #fff;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0 auto;
        }
    }
    &__lists{
        padding: 0 15px;
    }
    &__copy{
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;
        padding: 0 10px;
    }
}


@import "media";
