@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header{ 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    min-height: 700px;
    
    &__link{
        color: #fff;
        font-size: 24px;
        line-height: 36px;
        @extend %mbold; 
    }
    &__info{
        text-align: center;
    }
    &__title{
        font-size: 48px;
        line-height: 45px;
        margin-bottom: 20px;
        text-transform: uppercase;
        @extend %msemibold; 
    }
    &__text{
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 24px;
        
    }
    &__btn{
        color: #fff;
        text-transform: uppercase;
        
    }
}

.menu{
    
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %msemibold;
    margin-bottom: 250px;
    &__list{
        display: flex;
        
    }
    &__lists + .menu__lists{
        padding-left: 30px;
    }
    &__link{
        color: #fff;
    }
}


.service{
        margin-top: 100px;
    &__text{
        text-align: center;
        margin-bottom: 60px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box{
        text-align: center;
        max-width: 350px;
        padding: 0 10px;
        margin: 0 auto;
    }
    &__box-img{
        width: 90px;
        height: 90px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 20px;
    }
    &__box-title{
        text-transform: uppercase;
        @extend %msemibold;
        margin-bottom: 20px;
    }
    &__box-text{
        margin-bottom: 100px;
    }
}

.about{
    padding: 100px 0;
    background-color: #f8f8f8;
    &__text{
        text-align: center;
        margin-bottom: 65px;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box{
        margin-bottom: 60px;
        max-width: 555px;
    }
    &__slider-inner{
        text-align: center;
        width: 260px;
    }
    &__slider-box{
        position: relative;
        margin: 0 15px;
        height: 250px;
    }
    &__slider-img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__slider-icons{
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        align-items: flex-end;
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        background-color: rgba(85, 85, 85, 0.502);
        opacity: 0;
        &:hover{
            opacity: 1;
        }
    }
    &__slider-icon{
        padding: 5px 10px;
        &:hover{
            background-color: red;
        }
    }
    &__slider-title{
        margin: 20px 0 10px 0;
        text-transform: uppercase;
        @extend %msemibold;
    }
    .about__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-100%);
        background-color: transparent;
        border: none;
        outline: none;;
        z-index: 1;
        padding: 12px;
        background-color: #8e8e8e;
    }
    .about__arrow-next{
        right: 0;
    }
}

.works{
    &__buttons{
        text-align: center;
        margin-bottom: 70px;
    }
    
    &__btn{
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        line-height: 24px;
    }
    .mixitup-control-active{
        color: #c0301c;
    }
    &__btn + .works__btn{
        padding-left: 20px;
    }
    margin: 100px 0;

    &__item{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
        grid-gap: 30px 20px ;
    }
    &__box{
        color: #fff;
        position: relative;
        height: 320px;
    }
    &__box-img{
        width: 100%;    
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
    &__box-info{
        color: #fff;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(192, 48, 28,0.702);
        opacity: 0;
        transition: all .2s;
        &:hover{
            opacity: 1;
        }
    }
    &__box-title{
        font-size: 18px;
        line-height: 24px;
        @extend %msemibold;
        margin-bottom: 5px;
    }
    &__box-text{
        margin-bottom: 20px;
    }
    &__box-btn{
        padding: 15px 40px 13px 20px;
        background-color: #fff;
        border: none;
        color: #c0301c;
        @extend %rbold;
        text-transform: uppercase;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            background-image: url(../images/works-arrow.svg);
            width: 6px;
            height: 10px;
            right: 25px;
            top: 17px;
        }
    }
}














@import "media";
